saves/
logs/
psi_persistent/
libraries/
versions/
resourcepacks/
assets/
/realms_persistence.json
config/Mercurius.cfg
launcher_log.txt
launcher_profiles.json
usernamecache.json
usercache.json
screenshots/
backups/
crafttweaker.log
*.log
crash-reports/
journeymap/data
journeymap/server
New World/
servers.dat
options.txt
*.ini

\.ReAuth\.cfg

BotaniaVars\.dat

OpenComputersMod-1\.7\.0\.20-lua52-native\.64\.dll

OpenComputersMod-1\.7\.0\.20-lua53-native\.64\.dll

knownkeys\.txt

journeymap/

mputils/

config/InvTweaks\.cfg

config/MouseTweaks\.cfg

config/brandon3055/contributors\.json

config/jei/worldSettings\.cfg

config/AppliedEnergistics2/VersionChecker\.cfg
